body{
    background:linear-gradient(0deg, rgba(0,0,0 ,0.5),rgba(0,0,0 ,0.5)), #1b1b32 ; 
    position: relative;
    z-index: 10;
  }
.tecnologias{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr) );
  align-content: center;
}